@model List<MediaNest.Domain.Model.UserMediaItems>;
@{
}
<h3>My Collection</h3>

@foreach (var item in Model)
{
	<p>@item.Title</p>
	<p>@item.Rating</p>
	<p>@item.Progress</p>
	@foreach(var genre in @item.Genres)
	{
		<span>@genre</span>
	}

}